.App {
  text-align: center;
}
#card:hover {
  opacity: 1;
}
#card {
  opacity: 0.5;
}
.btn-card {
  width: 70px;
  height: 30px;
  color: antiquewhite;
  background-color: rgb(197, 100, 116);
  border: none;
}
.btn-card:hover {
  color: rgb(197, 100, 116);
  background-color: antiquewhite;
}
h2 {
  font-size: 20px;
  text-transform: capitalize;
justify-items: flex-start;}
